* {
    font-size: 12px;
    font-family: "FiraCode Nerd Font", monospace;
    margin: 0;
    padding: 0;
}

window#waybar {
    background: #242424;
    color: #ccc;
}

/* Left - Workspaces */

#workspaces button {
    background: transparent;
    color: #ccc;
    border: 0;
    border-bottom: 2px solid #242424;
    border-radius: 0;
    margin: 0 5px;
    padding: 2px 3px 0;
    transition: none;
}

#workspaces button.active, /* Hyprland */
#workspaces button.focused { /* Sway */
    font-weight: bold;
    background: #585858;
    color: #ccc;
    border-bottom: 2px solid #585858;
}

#workspaces button.urgent {
    border-bottom: 2px solid #f66;
}

/* Middle - Windows */

#window {
    color: #777;
}

/* Right - Modules */

#pulseaudio,
#cpu,
#memory,
#clock,
#tray {
    padding: 0;
    margin: 3px 0;

    padding-top: 4px;
    padding-right: 12px;
    margin-right: 12px;
    border-right: 1px solid #585858;
}

#clock.time {
    padding-top: 0;
    font-size: 14px;
    color: #0ff;
}

/* Tray */

#tray {
    padding: 2px;
    border-right: 0;
}
